@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

body {
  background: url("../imgs/blog_bg2.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
}

.no_mobile {
  width: 70%;
  margin: 50% auto 0 auto;
  align-items: center;
  justify-content: center;
}

.game_content {
  margin-top: 1.5%;
  height: 100vh;
  display: none;
}
@media (min-width: 800px) and (min-height: 600px) and (orientation: landscape) {
  .game_content {
    display: block;
  }
  .game_content h1 {
    display: none;
  }
  .no_mobile {
    display: none;
  }
  .breakah_link {
    position: absolute;
    bottom: 3%;
    left: 35%;
  }
}

@media (min-width: 1020px) and (orientation: landscape) {
  .game_content h1 {
    display: block;
  }
}

#gameboard {
  background: #222;
  display: block;
  margin: 0 auto;
  border: 1px solid;
}

#reset {
  color: #fff;
  background: none;
  border: none;
  font-size: 2rem;
  margin-top: 20px;
  text-transform: uppercase;
  outline: none;
  font-family: "Orbitron", sans-serif;
}

#reset:hover {
  color: steelblue;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.yellow {
  background: rgba(255, 255, 0, 0.3);
}

.red {
  background: rgba(255, 0, 0, 0.3);
}
