@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

body {
  background: url("../imgs/blog_bg2.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
}

.no_mobile {
  width: 70%;
  margin: 50% auto 0 auto;
  align-items: center;
  justify-content: center;
}
.no_mobile2 {
  width: 70%;
  margin: 40% auto 0 auto;
  align-items: center;
  justify-content: center;
}

.game_content {
  margin-top: 1.5%;
  height: 100vh;
  display: none;
}

.pongo_content h1:first-of-type {
  font-size: 2.3rem;
  margin-top: 0;
}

.pongo_score {
  font-size: 2.1rem;
  margin: 5px 0;
  line-height: 70%;
}

span {
  margin-bottom: 5px;
}

#gameCanvas {
  height: 60vh;
  width: 60vw;
}

#reset {
  font-family: inherit;
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  color: #fff;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1.7rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

#reset:hover {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  color: steelblue;
}
canvas {
  border: 1px solid #0095dd;
  border-radius: 5px;
}
@media (min-width: 650px) {
  .pongo_content {
    display: block;
  }
  .no_mobile2 {
    display: none;
  }

  .pongo_content h1:first-of-type {
    display: none;
  }
}

@media (min-width: 800px) and (min-height: 600px) and (orientation: landscape) {
  .game_content {
    display: block;
  }
  .game_content h1 #block_title {
    display: none;
  }
  .pongo_content h1:first-of-type {
    display: block;
  }
  .no_mobile {
    display: none;
  }
  .breakah_link {
    position: absolute;
    bottom: 3%;
    left: 35%;
  }
}

@media (min-width: 1020px) and (orientation: landscape) {
  .game_content h1 {
    display: block;
  }
}
