@media only screen and (min-width: 850px) {
  .footer h2 {
    font-size: 3.5rem;
  }
  .footer h3 {
    line-height: 5%;
    margin-top: 10px;
    font-weight: 200;
    font-size: 2rem;
  }
  .side-links ul li a {
    font-size: 2rem;
  }
  .side-links ul li ol {
    list-style: none;
    font-size: 1.25rem;
    margin-top: 0.2rem;
    margin-left: 20px;
  }

  a.index {
    font-size: 2.5rem;
  }
}

@media only screen and (min-device-width: 320px) and (orientation: landscape) {
  /* FOOTER STYLING */
  .footer h2 {
    font-size: 2.5rem;
  }
  .footer h3 {
    line-height: 5%;
    margin-top: 10px;
    font-weight: 200;
    font-size: 1.5rem;
  }

  .footer {
    width: 100%;
    text-align: right;
  }

  #name {
    width: 45%;
    text-align: right;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 90%;
  }

  .name-fly {
    /* -moz-transform: scale(1.4) translate(-50px, -50px);
    -webkit-transform: scale(0.4) translate(-50px, -50px);
    -o-transform: scale(2) translate(-50px, -50px);
    -ms-transform: scale(2) translate(-50px, -50px); */
    transform: scale(1.2) translate(-7%, -30%);
    transition-duration: 0.25s;
  }

  .footer h3 {
    margin: 10px 7% 2% 0;
    font-weight: 200;
    transition-duration: 0.25s;
  }

  .tag-fly {
    /* -moz-transform: scale(1.4) translate(-50px, -50px);
    -webkit-transform: scale(0.4) translate(-50px, -50px);
    -o-transform: scale(2) translate(-50px, -50px);
    -ms-transform: scale(2) translate(-50px, -50px); */
    transform: scale(1.4) translate(-16%, -0%);
    transition-duration: 0.25s;
  }

  .techs {
    width: 40%;
    position: absolute;
    bottom: 7%;
    left: 11%;
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s linear;
  }

  .techs-fadein {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s linear;
  }
}

/* SIDE LINK STYLING */
.side-links ul li a {
  font-size: 1.4rem;
}
.side-links ul li ol {
  list-style: none;
  font-size: 1.25rem;
  margin-top: 0.2rem;
  margin-left: 20px;
}

a.index {
  font-size: 2.5rem;
}
.side-links ul li:nth-of-type(1) {
  top: 0;
}
.side-links ul li:nth-of-type(2) {
  top: 29%;
}
.side-links ul li:nth-of-type(3) {
  top: 61%;
}

.main-photo {
  width: 27%;
  border-radius: 35%;
  position: absolute;
  left: 7%;
  top: 7%;
}

/* INFO SECTION STYLING */

#bio-tag {
  width: 45%;
  position: absolute;
  top: 7%;
  right: 8%;
  font-weight: 100;
}

.main-info {
  width: 50%;
  position: absolute;
  right: 7%;
  top: 37%;
}

@media only screen and (orientation: portrait) {
  .main-photo {
    width: 65%;
    border-radius: 35%;
    position: absolute;
    left: 20%;
    top: 7%;
  }
  .main-info {
    display: flex;
    justify-content: space-around;
    top: 62%;

    width: 100%;
  }

  .name-fly {
    /* -moz-transform: scale(1.4) translate(-50px, -50px);
    -webkit-transform: scale(0.4) translate(-50px, -50px);
    -o-transform: scale(2) translate(-50px, -50px);
    -ms-transform: scale(2) translate(-50px, -50px); */
    transform: scale(1.3) translate(-10%, -600%);
    transition-duration: 0.25s;
  }

  .cv {
    margin: 0 77%;
  }

  .info {
    width: 40%;
  }
}
