@import url("https://fonts.googleapis.com/css?family=Gayathri&display=swap");

html {
  min-height: 100%;
}

body {
  font-family: "Gayathri", sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #000;
  background: url("../imgs/temp-bg5.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.main-page-bio {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.main-photo {
  width: 50%;
  border-radius: 35%;
  position: absolute;
  left: 25%;
  top: 10%;
}

.main-page-bio-fadein {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s linear;
  transition-delay: 0.1s;
}

#main-page-bio h1 {
  position: absolute;
  font-weight: 100;
  font-size: 2rem;
  top: 40%;
  left: 40%;
}

#bio-tag {
  position: absolute;
  top: 49%;
  left: 18%;
  font-weight: 100;
}

.main-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 62%;
}

.info {
  height: 75px;
  width: 75px;
  border-radius: 10px;
}

.info:nth-of-type(2) {
  width: 180px;
}

/* SHADER */

.shader {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 1.25s linear;
  display: flex;
  text-align: center;
}

.shaded {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.25s linear;
}

a {
  text-decoration: none;
  color: #fff;
}

.angle-bracket {
  color: #06c0ff;
}

.dissapear {
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.1s;
}

/* End of common styling */

/* START OF SIDE NAVBAR STYLING */

.side-links {
  display: inline;
}

.side-links ul {
  list-style: none;
}

.side-links ul li {
  position: absolute;
}

.side-links ul li:nth-of-type(1) {
  top: 9%;
}
.side-links ul li:nth-of-type(2) {
  top: 32%;
}
.side-links ul li:nth-of-type(3) {
  top: 58%;
}

.swinger {
  font-size: 1.7rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #fff;
  text-decoration: none;
  margin-left: -35px;
  margin-bottom: 10px;
  transition-duration: 0.1s;
}

li .swingout {
  font-size: 1.5rem;
  margin-top: 50px;
  color: inherit;
  transform: rotate(270deg);
  text-decoration: none;
  transform-origin: 100% 0%;
  transition-duration: 0.25s;
  margin-bottom: -100px;
  z-index: 5;
}

/* LINK FADE STYLES */

.side-links ul li ol {
  list-style: none;
  font-size: 1.25rem;
  margin-top: 0.2rem;
  /* margin-left: -10px; */
}

ol li {
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.1s;
}

a:nth-of-type(3):active {
  font-size: 1.5rem;
  /* margin-top: 250px; */
  color: inherit;
  transform: rotate(270deg);
  text-decoration: none;
  transform-origin: 100% 0%;
  transition-duration: 0.25s;
  margin-bottom: -80px;
}

li .main-link-fade {
  /* margin-top: 250px; */
  font-size: 1.75rem;
  margin-bottom: 1rem;
  visibility: visible;
  opacity: 1;
  transition: opacity 1.5s linear;
  padding: 10px 0;
  z-index: 5;
}

li .first-fade {
  margin-top: 65px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
  padding: 10px 0;
  z-index: 5;
}

li .second-fade {
  margin-top: 82px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s linear;
  padding: 10px 0;
  z-index: 5;
}

li .second-fix {
  padding: 20px 0;
}

#syd-fix {
  margin-top: 82px;
  font-size: 1.65rem;
}

li .third-fade {
  margin-top: 95px;
}

h2:first-of-type {
  font-weight: 200;
}

.second-link {
  margin-top: 40px;
}

/* INDEX ICON STYLE */
.index {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  position: fixed;
  top: 7%;
  right: 7%;
  z-index: 99;
  font-weight: 300;
}

/* NAME AND TAG BADGE STYLE */

.footer {
  position: fixed;
  bottom: 3%;
  right: 7%;
  margin: 0 auto;
  text-align: center;
  padding: auto;
}

.footer h2 {
  font-size: 2.1rem;
}

.footer h3 {
  font-size: 1.25rem;
  line-height: 4%;
  margin-top: 10px;
  font-weight: 200;
  transition-duration: 0.25s;
}

#name {
  width: 100%;
  margin-right: 5%;
  margin-bottom: 0;
  transition-duration: 0.15s;
}

.name-fly {
  -moz-transform: scale(1.4) translate(-12%, -550%);
  -webkit-transform: scale(1.4) translate(-12%, -550%);
  -o-transform: scale(1.4) translate(-12%, -550%);
  -ms-transform: scale(1.4) translate(-12%, -550%);
  transform: scale(1.4) translate(-12%, -550%);
  transition-duration: 0.25s;
}

.tag-fly {
  -moz-transform: scale(1.4) translate(-12%, -100%);
  -webkit-transform: scale(1.4) translate(-12%, -100%);
  -o-transform: scale(1.4) translate(-12%, -100%);
  -ms-transform: scale(1.4) translate(-12%, -100%);
  transform: scale(1.4) translate(-12%, -100%);
  transition-duration: 0.25s;
}

/* TECHS ON MAIN PAGE INFO */

.techs {
  width: 100%;
  position: absolute;
  bottom: 57%;
  right: 16%;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.techs-fadein {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
}

.icon {
  height: 45px;
  width: 50px;
}

/* CONTACT PAGE */

#feedback-page {
  text-align: center;
}

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color: #3c3c3c;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name-input {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#name-input:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#email:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: white;
}

#button-blue {
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: ;
  text-shadow: -10px -10px 10px rgba(255, 255, 255, 0.1),
    7px 7px 7px rgba(0, 0, 0, 0.5);
}

.submit:hover .ease {
  width: 100%;
}

/* RESPONSIVE STYLINGS */

@media all and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media all and (min-width: 320px) and (orientation: landscape) {
  .swinger {
    font-size: 1.4rem;
    margin-top: 15px;
    margin-left: -35px;
    margin-bottom: 10px;
  }

  li .main-link-fade {
    font-size: 1.4rem;
  }

  li .first-fade {
    margin-top: 65px;
    padding: 10px 0;
  }

  li .second-fade {
    margin-top: 81px;
    padding: 10px 0;
  }
  li .third-fade {
    margin-top: 90px;
  }
  #syd-fix {
    margin-top: 80px;
    font-size: 1.65rem;
  }
}
@media (min-width: 420px) and (orientation: landscape) {
  .swinger {
    font-size: 1.1rem;
    margin-top: 15px;
    margin-left: -35px;
    margin-bottom: 10px;
  }

  li .main-link-fade {
    font-size: 1.4rem;
  }

  /* MAIN PAGE BIO */

  .main-photo {
    width: 30%;
    border-radius: 35%;
    position: absolute;
    left: 5%;
    top: 5%;
  }

  #main-page-bio h1 {
    position: absolute;
    font-weight: 100;
    font-size: 2rem;
    top: 40%;
    left: 40%;
  }

  #bio-tag {
    position: absolute;
    top: 75%;
    left: 5%;
    font-weight: 100;
  }

  .main-info {
    width: 50%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 22%;
    right: 7%;
  }

  .info {
    height: 55px;
    width: 55px;
  }

  .info:nth-of-type(2) {
    width: 180px;
  }
  .name-fly {
    -moz-transform: scale(1.4) translate(-12%, -150%);
    -webkit-transform: scale(1.4) translate(-12%, -150%);
    -o-transform: scale(1.4) translate(-12%, -150%);
    -ms-transform: scale(1.4) translate(-12%, -150%);
    transform: scale(1.4) translate(-12%, -150%);
    transition-duration: 0.25s;
  }
  .tag-fly {
    -moz-transform: scale(1.4) translate(-12%, -100%);
    -webkit-transform: scale(1.4) translate(-12%, -100%);
    -o-transform: scale(1.4) translate(-12%, -100%);
    -ms-transform: scale(1.4) translate(-12%, -100%);
    transform: scale(1.4) translate(-12%, -100%);
    transition-duration: 0.25s;
  }
}

@media (min-width: 750px) and (orientation: landscape) {
  .swinger {
    font-size: 1.4rem;
    margin-top: 15px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #fff;
    text-decoration: none;
    margin-left: -35px;
    margin-bottom: 10px;
    transition-duration: 0.1s;
  }

  li .main-link-fade {
    font-size: 1.4rem;
  }
  .info {
    height: 95px;
    width: 95px;
  }
  #bio-tag {
    position: absolute;
    top: 75%;
    left: 5%;
    font-weight: 100;
    font-size: 1.75rem;
  }
  .name-fly {
    -moz-transform: scale(1.7) translate(-25%, -170%);
    -webkit-transform: scale(1.7) translate(-25%, -170%);
    -o-transform: scale(1.7) translate(-25%, -170%);
    -ms-transform: scale(1.7) translate(-25%, -170%);
    transform: scale(1.7) translate(-25%, -170%);
  }
  .tag-fly {
    -moz-transform: scale(1.9) translate(-20%, -100%);
    -webkit-transform: scale(1.9) translate(-20%, -100%);
    -o-transform: scale(1.9) translate(-20%, -100%);
    -ms-transform: scale(1.9) translate(-20%, -100%);
    transform: scale(1.9) translate(-20%, -100%);
  }
  .techs {
    bottom: 75%;
    right: 42%;
  }
  .icon {
    height: 62px;
    width: 62px;
  }
  .index {
    font-size: 2rem;
    top: 7%;
    right: 7%;
  }
}

@media (min-width: 1020px) and (orientation: landscape) {
  .swinger {
    font-size: 2.2rem;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  li .main-link-fade {
    font-size: 1.4rem;
  }

  li .swingout {
    font-size: 2.5rem;
    transform-origin: 100% 0%;
    transition-duration: 0.25s;
    margin-bottom: -100px;
  }
  .info {
    height: 220px;
    width: 220px;
  }
  #bio-tag {
    position: absolute;
    top: 75%;
    left: 5%;
    font-weight: 100;
    font-size: 2.75rem;
  }
  .name-fly {
    -moz-transform: scale(2.4) translate(-25%, -170%);
    -webkit-transform: scale(2.4) translate(-25%, -170%);
    -o-transform: scale(2.4) translate(-25%, -170%);
    -ms-transform: scale(2.4) translate(-25%, -170%);
    transform: scale(2.4) translate(-25%, -170%);
  }
  .tag-fly {
    -moz-transform: scale(2.4) translate(-21%, -100%);
    -webkit-transform: scale(2.4) translate(-21%, -100%);
    -o-transform: scale(2.4) translate(-21%, -100%);
    -ms-transform: scale(2.4) translate(-21%, -100%);
    transform: scale(2.4) translate(-21%, -100%);
  }

  .icon {
    height: 75px;
    width: 75px;
  }

  a:nth-of-type(3):active {
    font-size: 4.5rem;
    margin-bottom: -80px;
  }

  li .main-link-fade {
    font-size: 2.75rem;
    margin-bottom: 1rem;
    padding: 10px 0;
  }

  li .first-fade {
    margin-top: 65px;
    padding: 12px 0;
  }

  li .second-fade {
    margin-top: 82px;
    padding: 10px 0;
  }

  li .second-fix {
    padding: 20px 0;
  }

  #syd-fix {
    margin-top: 82px;
    font-size: 2.75rem;
  }

  li .third-fade {
    margin-top: 95px;
  }

  h2:first-of-type {
    font-weight: 200;
  }

  .second-link {
    margin-top: 40px;
  }

  /* INDEX ICON STYLE */
  .index {
    font-size: 2.5rem;
    top: 7%;
    right: 7%;
  }
  .techs {
    right: 60%;
  }
}
