@import url("https://fonts.googleapis.com/css?family=Gayathri&display=swap");

html {
  min-height: 100%;
}

body {
  font-family: "Gayathri", sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #000;
  background: url("../imgs/temp-bg5.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-page-bio {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.main-photo {
  width: 50%;
  border-radius: 35%;
  position: absolute;
  left: 25%;
  top: 10%;
}

.main-page-bio-fadein {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s linear;
  transition-delay: 0.1s;
}

#main-page-bio h1 {
  position: absolute;
  font-weight: 100;
  font-size: 2rem;
  top: 40%;
  left: 40%;
}

#bio-tag {
  position: absolute;
  top: 49%;
  left: 8%;
  font-weight: 100;
}

.main-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 62%;
  /* left: 10%; */
}

.info {
  height: 75px;
  width: 75px;
}

.shader {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 1.25s linear;
}

.shaded {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.25s linear;
}

a {
  text-decoration: none;
  color: #fff;
}

.angle-bracket {
  color: #06c0ff;
}

#name {
  width: 100%;
  margin-right: 5%;
  margin-bottom: 0;
  transition-duration: 0.25s;
}

.name-fly {
  /* -moz-transform: scale(1.4) translate(-50px, -50px);
  -webkit-transform: scale(0.4) translate(-50px, -50px);
  -o-transform: scale(2) translate(-50px, -50px);
  -ms-transform: scale(2) translate(-50px, -50px); */
  transform: scale(1.4) translate(-12%, -550%);
  transition-duration: 0.25s;
}

.tag-fly {
  /* -moz-transform: scale(1.4) translate(-50px, -50px);
  -webkit-transform: scale(0.4) translate(-50px, -50px);
  -o-transform: scale(2) translate(-50px, -50px);
  -ms-transform: scale(2) translate(-50px, -50px); */
  transform: scale(1.4) translate(-12%, -100%);
  transition-duration: 0.25s;
}

.dissapear {
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.1s;
}

/* End of common styling */

.side-links {
  display: inline;
}

.side-links ul {
  list-style: none;
}

.side-links ul li {
  position: absolute;
}

.side-links ul li:nth-of-type(1) {
  top: 10%;
}
.side-links ul li:nth-of-type(2) {
  top: 34%;
}
.side-links ul li:nth-of-type(3) {
  top: 61%;
}

.side-links ul li ol {
  list-style: none;
  font-size: 1.25rem;
  margin-top: 0.2rem;
  margin-left: -20px;
}

.index {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  position: fixed;
  top: 7%;
  right: 7%;
  z-index: 99;
}

.footer {
  position: fixed;
  bottom: 3%;
  right: 7%;
  margin: 0 auto;
  text-align: center;
  padding: auto;
}

.footer h2 {
  font-size: 2.1rem;
}

.footer h3 {
  font-size: 1.25rem;
  line-height: 4%;
  margin-top: 10px;
  font-weight: 200;
  transition-duration: 0.25s;
}

.techs {
  width: 100%;
  position: absolute;
  bottom: 57%;
  right: 16%;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.techs-fadein {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
}

.icon {
  height: 45px;
  width: 50px;
}

#ruby {
}

.swinger {
  font-size: 1.65rem;
  margin-top: 30px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #fff;
  text-decoration: none;
  margin-left: -25px;
  margin-bottom: 10px;
  transition-duration: 0.1s;
}

ol li {
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.1s;
}

li .swingout {
  font-size: 1.5rem;
  margin-top: 50px;
  color: inherit;
  transform: rotate(270deg);
  text-decoration: none;
  transform-origin: 100% 0%;
  transition-duration: 0.25s;
  margin-bottom: -100px;
  z-index: 5;
}

a:nth-of-type(3):active {
  font-size: 1.5rem;
  margin-top: 50px;
  color: inherit;
  transform: rotate(270deg);
  text-decoration: none;
  transform-origin: 100% 0%;
  transition-duration: 0.25s;
  margin-bottom: -80px;
}

li .main-link-fade {
  margin-top: 80px;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  visibility: visible;
  opacity: 1;
  transition: opacity 1.5s linear;
  padding: 10px 0;
  z-index: 5;
}

li .first-fade {
  margin-top: 80px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
  padding: 10px 0;
  z-index: 5;
}

li .second-fade {
  margin-top: 90px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s linear;
  padding: 10px 0;
  z-index: 5;
}

li .second-fix {
  padding: 20px 0;
}

li .third-fade {
  margin-top: 105px;
}

h2:first-of-type {
  font-weight: 200;
}

.second-link {
  margin-top: 40px;
}
