@import url("https://fonts.googleapis.com/css?family=Gayathri&display=swap");

html {
  min-height: 100%;
}

body {
  font-family: "Gayathri", sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #000;
  background: url("../imgs/temp-bg5.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.turnDeviceNotification {
  z-index: -20;
  display: none;
}
/* -------------------------------START OF DEPLOY SITE ANIMATION */

/* #deploy_site {
  width: 99%;
}
.deploy_site_div {
  opacity: 0;
  display: none;
  background: url("../imgs/deploy_background.png");
  height: 100vh;
  z-index: 1000;
} */

/* #deploy_site {
  opacity: 0;
  display: none;
  position: absolute;
  top: 10%;
  left: 1%;
  width: 95%;
}

.deploy_start {
  animation: pulsate 2s linear;
  animation-iteration-count: infinite;
  -webkit-animation: deploy_animation 2.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

.deploy_site_div {
  opacity: 0;
  visibility: none;
  background: blue;
}

.deeeploy {
  margin-top: 1rem;
  width: 1.75rem;
}

@keyframes deploy_animation {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
} */

/* --------------------------BACK TO YOUR REGULARLY SCHEDULED PROGRAM */
.bold {
  font-weight: bold;
}

.main-page-bio {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.main-photo {
  width: 50%;
  border-radius: 35%;
  position: absolute;
  left: 25%;
  top: 10%;
}

.main-page-bio-fadein {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s linear;
  transition-delay: 0.1s;
}

#main-page-bio h1 {
  position: absolute;
  font-weight: 100;
  font-size: 2rem;
  top: 40%;
  left: 40%;
}

#bio-tag {
  position: absolute;
  top: 53%;
  left: 18%;
  font-weight: 100;
}

.main-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 64%;
}

.info {
  height: 75px;
  width: 80px;
  border-radius: 10px;
  box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    2px 2px 2px rgba(0, 0, 0, 0.5);
}

.insta {
  border-radius: 20px;
  height: 75px;
  width: 80px;
}

.letter {
  width: 95px;
}

.info:nth-of-type(2) {
  width: 180px;
}

/* ----------------------------------------------------------------------- SHADER */

.shader {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  text-align: center;
}

.shaded {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.25s linear;
}

a {
  text-decoration: none;
  color: #fff;
}

.angle-bracket {
  color: #06c0ff;
  font-weight: bold;
}

.dissapear {
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.1s;
}

/* End of common styling */

/* -----------------------------------------------------START OF SIDE NAVBAR STYLING */

.side-links {
  display: inline;
}

.side-links ul {
  list-style: none;
}

.side-links ul li {
  position: absolute;
}

.side-links ul li:nth-of-type(1) {
  top: 13%;
}
.side-links ul li:nth-of-type(2) {
  top: 36%;
}
.side-links ul li:nth-of-type(3) {
  top: 56%;
}

.swinger {
  font-size: 1.7rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #fff;
  text-decoration: none;
  margin-left: -35px;
  margin-bottom: 10px;
  transition-duration: 0.1s;
}

li .swingout {
  font-size: 1.7rem;
  margin-top: 50px;
  color: inherit;
  transform: rotate(270deg);
  text-decoration: none;
  transform-origin: 100% 0%;
  transition-duration: 0.25s;
  margin-bottom: -100px;
  z-index: 5;
}

/* -----------------------------------------------------------------LINK FADE STYLES */

.side-links ul li ol {
  list-style: none;
  font-size: 1.25rem;
  margin-top: 0.2rem;
}

ol li {
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.1s;
}

li a:nth-of-type(3):active {
  font-size: 1.5rem;
  color: inherit;
  transform: rotate(270deg);
  text-decoration: none;
  transform-origin: 100% 0%;
  transition-duration: 0.25s;
  margin-bottom: -80px;
}

li .main-link-fade {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  visibility: visible;
  opacity: 1;
  transition: opacity 1.5s linear;
  padding: 10px 0;
  z-index: 5;
}

li .first-fade {
  margin-top: 65px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
  padding: 10px 0;
  z-index: 5;
}

li .second-fade {
  margin-top: 90px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s linear;
  padding: 10px 0;
  z-index: 5;
}

li .second-fix {
  padding: 5px 0;
}

#syd-fix {
  margin-top: 82px;
  font-size: 1.65rem;
}

li .third-fade {
  margin-top: 117px;
}

h2:first-of-type {
  font-weight: 200;
}

.second-link {
  margin-top: 40px;
}

.third-link {
  margin-top: 105px;
}

/* --------------------------------------------------------- INDEX ICON STYLE */
.index {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  position: fixed;
  top: 7%;
  right: 7%;
  z-index: 99;
  font-weight: 300;
}

/* ------------------------------------------------------ NAME AND TAG BADGE STYLE */

.footer {
  position: fixed;
  bottom: 3%;
  right: 7%;
  margin: 0 auto;
  text-align: center;
  padding: auto;
}

.footer h2 {
  font-size: 2.02rem;
}

.footer h3 {
  font-size: 1.25rem;
  line-height: 4%;
  margin-top: 10px;
  font-weight: 200;
  transition-duration: 0.25s;
}

#name {
  width: 100%;
  margin-right: 5%;
  margin-bottom: 0;
  transition-duration: 0.15s;
  cursor: nwse-resize;
}

.name-fly {
  -moz-transform: scale(1.4) translate(-12%, -550%);
  -webkit-transform: scale(1.4) translate(-12%, -550%);
  -o-transform: scale(1.4) translate(-12%, -550%);
  -ms-transform: scale(1.4) translate(-12%, -550%);
  transform: scale(1.4) translate(-12%, -550%);
  transition-duration: 0.25s;
}

.tag-fly {
  -moz-transform: scale(1.4) translate(-12%, -100%);
  -webkit-transform: scale(1.4) translate(-12%, -100%);
  -o-transform: scale(1.4) translate(-12%, -100%);
  -ms-transform: scale(1.4) translate(-12%, -100%);
  transform: scale(1.4) translate(-12%, -100%);
  transition-duration: 0.25s;
}

/* ----------------------------------------------------- TECHS ON MAIN PAGE INFO */

.techs {
  width: 100%;
  position: absolute;
  bottom: 57%;
  right: 16%;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s linear;
  padding: 1% 3.5%;
  border-radius: 7px;
}

.techs-fadein {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
}

.icon {
  height: 55px;
  width: 55px;
}

/* ------------------------------------------------------------ DOWN ARROW*/

.down-arrow {
  margin-top: 1rem;
  width: 1.75rem;
  animation: pulsate 2.5s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 2.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

.up-arrow {
  transform: rotate(180deg);
  display: block;
  width: 1.75rem;
  animation: pulsate 2.5s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 2.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

/* ------------------------------------------------------------ ROLLING HAT */

.hatroll {
  width: 100%;
  visibility: hidden;
  background-color: transparent;
}

.see-the-hat {
  height: 145px;
  width: 150px;
  background: url("../imgs/hat_update.png") center cover;
  visibility: visible;
  display: inline-block;
  position: absolute;
  top: 35%;
  left: -75%;
  z-index: 50;
  animation-name: hatroll;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  overflow: hidden;
}

.see-the-hat-reverse {
  height: 145px;
  width: 150px;
  background: url("../imgs/hat_update.png") center cover;
  visibility: visible;
  display: inline-block;
  position: absolute;
  top: 35%;
  left: -75%;
  z-index: -2;
  animation-name: hatroll_reverse;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  overflow: hidden;
}

.hatword {
  cursor: pointer;
}

@keyframes hatroll {
  0% {
    left: 110%;
    transform: rotate(90deg);
  }
  25% {
    top: 65%;
    transform: rotate(0deg);
  }
  70% {
    top: 25%;
  }

  100% {
    left: -115%;
    top: 65%;
    transform: rotate(-270deg);
  }
}

@keyframes hatroll_reverse {
  0% {
    left: -20%;
    top: 35%;
    transform: rotate(-90deg);
    opacity: 0.85;
  }
  10% {
    opacity: 1%;
  }
  35% {
    top: 65%;
    left: 20%;
    transform: rotate(-40deg);
  }
  100% {
    left: 112%;
    top: 25%;
    transform: rotate(290deg);
  }
}

/* --------------------------------------------------- SYDNEY SECTION */

body #sydney {
  font-family: "Gayathri", sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 220%;
  height: 100vh;
  background-image: url("../imgs/gallery/sydney-pana.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: left;
}
.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}
.swiper-slide .subtitle {
  font-size: 21px;
}
.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.swiper-wrapper {
  height: 100vh;
}

.sydney-title {
  font-size: 1.6rem;
  text-align: left;
}

.subtitle {
  text-align: left;
}

/* -------------------------------------------------- GALLERY STYLINGS */

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

#slides {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 100%;
}

#slides .slide {
  display: flex;
  width: 100%;
  height: 100%;
}
#slides .slide .title {
  position: absolute;
  top: 61%;
  left: 18%;
  z-index: 2;
  padding-top: 5px;
  font-family: "Gayathri", sans-serif;
  font-size: 4em;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
#slides .slide .title .title-text {
  display: block;
  -webkit-transform: translateY(1.2em);
  transform: translateY(1.2em);
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
#slides .slide .slide-partial {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
#slides .slide .slide-partial img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
#slides .slide .slide-left {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
#slides .slide .slide-left img {
  top: 0;
  right: 0;
  -o-object-position: 100% 50%;
  object-position: 100% 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
#slides .slide .slide-right {
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition-delay: 0.2s;
}
#slides .slide .slide-right img {
  top: 0;
  left: 0;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
  transition-delay: 0.2s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#slides .slide.active .title .title-text {
  -webkit-transform: translate(0);
  transform: translate(0);
  transition-delay: 0.3s;
}
#slides .slide.active .slide-partial,
#slides .slide.active .slide-partial img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

#slide-select {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Gayathri", sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  color: white;
}
#slide-select li {
  position: relative;
  cursor: pointer;
  margin: 0 5px;
  list-style: none;
}

#slide-select li.prev:hover {
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px);
}
#slide-select li.next:hover {
  -webkit-transform: translateX(2px);
  transform: translateX(2px);
}
#slide-select .selector {
  height: 32px;
  width: 32px;
  border-radius: 11px;
  border: 2px solid white;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}
#slide-select .selector.current {
  background-color: white;
}

/* --------------------------------------------------CONTACT PAGE */

#feedback-page {
  text-align: center;
}

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

/* Icons ---------------------------------- */
.name-input,
.name-input:focus,
.name-input:active {
  background-image: url("../imgs/contact_icons/name.svg");
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.email,
.email:focus,
.email:active {
  background-image: url("../imgs/contact_icons/letter.svg");
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.comment,
.comment:focus,
.comment:active {
  background-image: url("../imgs/contact_icons/pencil.svg");
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: white;
}

.button-blue {
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

.button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  text-shadow: -10px -10px 10px rgba(255, 255, 255, 0.1),
    7px 7px 7px rgba(0, 0, 0, 0.5);
}

.submit:hover .ease {
  width: 100%;
}

.submit {
  -webkit-border-radius: 7px;
  border-radius: 17px;
}

.submit:hover {
  color: #3498db;
}

#success-msg {
  text-align: center !important;
  margin-top: 190px !important;
  display: none;
  color: #fff;
}

/*-------------------------------------- ------------------------------------------------- RESPONSIVE STYLINGS */

@media all and (max-width: 500px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media all and (min-width: 320px) and (orientation: landscape) {
  .swinger {
    font-size: 1.4rem;
    margin-top: 7px;
    margin-left: -35px;
    margin-bottom: 10px;
  }

  li .main-link-fade {
    font-size: 1.4rem;
  }

  li .first-fade {
    margin-top: 65px;
    padding: 10px 0;
  }

  li .second-fade {
    margin-top: 81px;
    padding: 10px 0;
  }
  li .third-fade {
    margin-top: 90px;
  }
  #syd-fix {
    margin-top: 80px;
    font-size: 1.2rem;
  }
}

@media (min-width: 420px) and (orientation: landscape) {
  .swinger {
    font-size: 1rem;
    margin-left: -35px;
    margin-bottom: 10px;
  }

  li .main-link-fade {
    font-size: 1.2rem;
  }

  /* MAIN PAGE BIO */

  .main-photo {
    width: 30%;
    border-radius: 35%;
    position: absolute;
    left: 5%;
    top: 5%;
  }

  #main-page-bio h1 {
    position: absolute;
    font-weight: 100;
    font-size: 2rem;
    top: 40%;
    left: 40%;
  }

  #bio-tag {
    position: absolute;
    top: 75%;
    left: 5%;
    font-weight: 100;
  }

  .main-info {
    width: 50%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 22%;
    right: 7%;
  }

  .info {
    height: 105px;
    width: 110px;
  }

  .insta {
    border-radius: 32px;
  }

  .info:nth-of-type(2) {
    width: 180px;
  }
  .name-fly {
    -moz-transform: scale(1.4) translate(-12%, -150%);
    -webkit-transform: scale(1.4) translate(-12%, -150%);
    -o-transform: scale(1.4) translate(-12%, -150%);
    -ms-transform: scale(1.4) translate(-12%, -150%);
    transform: scale(1.4) translate(-12%, -150%);
    transition-duration: 0.25s;
  }
  .tag-fly {
    -moz-transform: scale(1.4) translate(-12%, -100%);
    -webkit-transform: scale(1.4) translate(-12%, -100%);
    -o-transform: scale(1.4) translate(-12%, -100%);
    -ms-transform: scale(1.4) translate(-12%, -100%);
    transform: scale(1.4) translate(-12%, -100%);
    transition-duration: 0.25s;
  }
}

/* -------------------------------------------------------------- TABLET LANDSCAPE */

@media all and (min-width: 700px) and (orientation: landscape) and (min-height: 500px) {
  .swinger {
    font-size: 1.4rem;
    margin-left: -35px;
    margin-bottom: 10px;
  }

  .see-the-hat {
    animation-duration: 2.75s;
    height: 280px;
    width: 290px;
  }
  .see-the-hat-reverse {
    animation-duration: 2.75s;
    height: 280px;
    width: 290px;
  }

  @keyframes hatroll {
    0% {
      left: 110%;
      transform: rotate(90deg);
      top: 5%;
    }
    25% {
      top: 45%;
    }
    50% {
      top: 5%;
    }
    85% {
      top: 45%;
    }
    100% {
      left: -110%;
      top: 5%;
      transform: rotate(-540deg);
    }
  }

  @keyframes hatroll_reverse {
    0% {
      left: -20%;
      transform: rotate(-110deg);
      top: 5%;
    }
    50% {
      top: 45%;
      left: 30%;
      transform: rotate(-50deg);
    }
    100% {
      left: 105%;
      top: 5%;
      transform: rotate(290deg);
    }
  }
  .see-the-hat-reverse {
    animation-duration: 1.5s;
  }

  li .main-link-fade {
    font-size: 1.4rem;
  }
  .info {
    margin-top: 33%;
    height: 125px;
    width: 130px;
  }

  .letter {
    width: 150px;
    margin-top: 30%;
  }

  .linkedin {
    border-radius: 40px;
  }

  #bio-tag {
    position: absolute;
    top: 75%;
    left: 5%;
    font-weight: 100;
    font-size: 1.5rem;
  }
  .name-fly {
    -moz-transform: scale(1.7) translate(-25%, -170%);
    -webkit-transform: scale(1.7) translate(-25%, -170%);
    -o-transform: scale(1.7) translate(-25%, -170%);
    -ms-transform: scale(1.7) translate(-25%, -170%);
    transform: scale(1.7) translate(-25%, -170%);
  }
  .tag-fly {
    -moz-transform: scale(1.9) translate(-20%, -100%);
    -webkit-transform: scale(1.9) translate(-20%, -100%);
    -o-transform: scale(1.9) translate(-20%, -100%);
    -ms-transform: scale(1.9) translate(-20%, -100%);
    transform: scale(1.9) translate(-20%, -100%);
  }
  .techs {
    bottom: 75%;
    right: 42%;
    /* padding: 1% 10.5%; */
  }

  .icon {
    height: 62px;
    width: 62px;
  }
  .index {
    font-size: 2rem;
    top: 7%;
    right: 7%;
  }

  #slides .slide .title {
    position: absolute;
    top: 51%;
  }
  /* -------------------------------------------------------CONTACT FORM */
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
/*  */
/* ----------------------------------------------------DESKTOP SIZE */
/*  */

@media (min-width: 1020px) and (orientation: landscape) {
  .main-photo {
    top: 12%;
  }
  .swinger {
    font-size: 2.2rem;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  li .main-link-fade {
    font-size: 1.4rem;
  }

  li .swingout {
    font-size: 2.5rem;
    transform-origin: 100% 0%;
    transition-duration: 0.25s;
    margin-bottom: -100px;
  }
  .info {
    margin-top: 33%;
    height: 210px;
    width: 195px;
  }
  .insta {
    margin-top: 30%;
    border-radius: 55px;
    width: 200px;
  }
  .letter {
    margin-top: 28%;
    width: 215px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .name-fly {
    -moz-transform: scale(2) translate(-25%, -170%);
    -webkit-transform: scale(2) translate(-24%, -170%);
    -o-transform: scale(2) translate(-24%, -170%);
    -ms-transform: scale(2) translate(-24%, -170%);
    transform: scale(2) translate(-24%, -170%);
  }
  .tag-fly {
    -moz-transform: scale(1.8) translate(-21%, -100%);
    -webkit-transform: scale(1.8) translate(-21%, -100%);
    -o-transform: scale(1.8) translate(-21%, -100%);
    -ms-transform: scale(1.8) translate(-21%, -100%);
    transform: scale(1.8) translate(-21%, -100%);
  }

  .icon {
    height: 75px;
    width: 75px;
  }

  a:nth-of-type(3):active {
    font-size: 4.5rem;
    margin-bottom: -80px;
  }

  /* --------------------------- FIX LATER */

  a#breakah_game_link {
    font-size: 1.15rem;
  }

  li .main-link-fade {
    font-size: 2.55rem;
    margin-bottom: 1rem;
    padding: 10px 0;
    margin-left: 40px;
  }

  li .first-fade {
    margin-top: 65px;
    padding: 12px 0;
  }

  li .second-fade {
    margin-top: 90px;
    padding: 10px 0;
  }

  li .second-fix {
    padding: 0px 0;
  }

  #syd-fix {
    margin-top: 82px;
    font-size: 2.75rem;
    margin-left: 40px;
  }

  li .third-fade {
    margin-top: 115px;
  }

  h2:first-of-type {
    font-weight: 200;
  }

  .second-link {
    margin-top: 45px;
  }

  .third-link {
    margin-top: 97px;
  }

  /* INDEX ICON STYLE */
  .index {
    font-size: 2.5rem;
    top: 7%;
    right: 7%;
  }
  .techs {
    /* right: 60%; */
    align-self: right;
    bottom: 75%;
    right: 40%;
  }
  .see-the-hat {
    animation-duration: 3.5s;
    height: 310px;
    width: 320px;
  }
  .see-the-hat-reverse {
    animation-duration: 2s;
    height: 310px;
    width: 320px;
  }
}

/* ---------------------------------------------LOCK IN PORTRAIT FOR SMART PHONE */
/* 

*/
@media screen and (min-width: 320px) and (max-height: 421px) and (orientation: landscape) {
  .turnDeviceNotification {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
  }
}
